.front-page-call-to-action {
    background-color: white;
    opacity: 70%;
}

.front-page-browse-categories h2{
    text-align: center;
}

.front-page-browse-categories h5{
    text-align: center;
    margin-top: 8vh;
}

.front-page-image-card {
    height: 92vh;
}

.card-img-overlay {
    justify-content: center;
    display: flex;
    align-items: center;
}